.jumbotron {
    text-align: center;
    background-image: url("../images/pexels-photo-924306.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0 0 15px #FF0000, 0 0 18px #0000FF;    
}

.card-title {
    background-color: plum;
}

.imgBox {
    float: left;
    margin-right: 5px;
}

.polaroid {
    margin-top: 10px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.rotate_right {
    float: left;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
}

input {
    margin-bottom: 10px;
}